.errorMsg {
  font-weight:bold;
  color:red;
  white-space: pre-wrap;
}

.example-questions {
 margin: 5px;
}

.example-questions a {
	cursor: pointer;
	text-decoration: none;
}
.confidence {
	color: #d74108;
}

.classification {
	color: #d74108;
}