//- layout.jade
doctype html
html(lang='en')
  head
    block title
      title Selfridges Speech POC
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    
    link(rel="stylesheet", href="/css/microphone.min.css")
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='//www.selfridges.com/wcsstore1.00.00.2366.02/ConsumerDirectStorefrontAssetStore//SiteRedesign/static/css/en_US/pages/plp/plp.css')
    link(rel='stylesheet', href='//www.selfridges.com/wcsstore1.00.00.2366.02/ConsumerDirectStorefrontAssetStore//SiteRedesign/static/css/en_US/global/global.css')
    link(rel='stylesheet', href='/css/pdp.css')
    
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')
    
    

  body
    div(style="overflow-x:hidden")
      include banner.jade
    
      block row-content